@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}


.navMenu {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

@media (min-aspect-ratio: 16/9){
  .back{
  width: 100%;
  height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back{
  width: auto;
  height: 100%;
  }
}

.searchBox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  
  .searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  
  .searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    background: #2f3640;
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
  }
  
  .searchBox:hover > .searchButton {
    background: white;
    color: #2f3640;
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  
  @media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
    }
  }


  .filterBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 200px;
}

.filterBox label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.filterBox select {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}

.filterBox input[type="number"] {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 100px;
  margin-right: 20px;
}

.filterBox input[type="submit"] {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filterBox input[type="submit"]:hover {
  background-color: #3e8e41;
}

.filterBox button[type="submit"] {
    background-color: #2f3640;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .filterBox button[type="submit"]:hover {
    background-color: #535c68;
  }

  
  .page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    position: relative;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .card:hover img {
    opacity: 0.8;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .copy {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .card:hover .card-content {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .card {
    position: relative;
    cursor: pointer;
  }
  .details {
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .details p, .details h2 {
    margin: 0;
  }
  .details-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(101, 92, 92);
    padding: 1rem;
   
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card.show-details .details-container {
    display: block;
    opacity: 1;
  }
  
  .details-container h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .details-container p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
  
  .details-container .button-container {
    margin-top: 1rem;
  }
  
  .details-container .button-container button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .details-container .button-container button:hover {
    background-color: #45a049;
  }
  
  button{
    color: white;
    float: right;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
  }
  .white-link {
    color: white;
    text-decoration: none;
  }

  